{% extends 'base.html' %}


{% block title %}
Страница про нас
{% endblock %}

{% block  body%}
<div class="container">
    <p>GShop – сеть магазинов бытовой техники и электроники в России, представлена ​​в оф-лайн и он-лайн среде. Основана в 1999 году, как подразделение одноименной сети. В 2013 году компания становится на 100% российской. Одновременно с этим происходит слияние с сетью "Технополис". С тех пор GShop, с полностью российским менеджментом – розничная сеть электроники и бытовой техники №1 по товарообороту в России. После слияния двух компаний новый владелец оставил название GShop с латинской транслитерацией как более узнаваемое. В конце 2016 года компания сменила логотип на GShop RU</p>

</div>
{% endblock %}