{% extends 'base.html' %}


{% block title %}
Главная страница
{% endblock %}

{% block  body%}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">GShop</h1>
        <p class="lead text-muted">Магазин бытовой техники для вашего дома</p>
        <p>
          <a href="/Registration" class="btn btn-primary my-2">Регистрация</a>
          <a href="/posts" class="btn btn-secondary my-2">Товары</a>
        </p>
      </div>
    </div>
  </section>

{% endblock %}